@import "tailwindcss";

@theme {
  --color-white: #fafafa;
  --color-light: #f9fafb;
  --color-black: #0a0a0a;

  --color-primary: #f54900;
  --color-text-secondary: #364153;
}

@layer utilities {
  /* Text */
  .heading-1 {
    @apply text-7xl font-medium tracking-[0.12px];
  }
  .heading-2 {
    @apply text-5xl font-medium tracking-[0.35px];
  }
  .heading-3 {
    @apply text-2xl font-semibold tracking-[0.06px];
  }

  .body-md {
    @apply text-lg font-medium;
  }
  .body-lg {
    @apply text-2xl tracking-[0.06px];
  }

  /* Shadow */
  .shadow-1 {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
}

@layer components {
  .btn,
  .btn-primary {
    @apply rounded-4xl px-8 py-4;
  }
  .btn-primary {
    @apply bg-primary;
  }
}
